# Общие
node_modules/
.env
dist/
build/
coverage/
.tmp
.DS_Store

# Логи
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/

# Prisma
prisma/migrations/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/testfile.js

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
